@import "compass";
@import "compass/reset";
@import "_base";

*, *:after, *::before {
	@include box-sizing;
}

html, body{
	background:$color-darkgrey;
}

html, body, #container{
	height:100%;
	font-size:10px;
	font-family:Helvetica, Arial, sans-serif;
	color:$color-darkgrey;
}

header{
	background:$color-lightgrey;
	color:$color-lightestgrey;
	text-align:center;
	font-weight:bold;
	padding:calc-em(5,10);

	a{color:$color-lightestgrey;}
}

h1{
	font-size:calc-em(32,10);
	line-height:calc-em(32,32);
	padding:calc-em(10,32);
	font-weight:bold;
	margin:0;
	list-style: none;
	color:$color-lightgrey;
}

h2{
	font-size:calc-em(24,10);
	font-weight:bold;
	margin:0;
	padding:calc-em(10,24);
	color:$color-lightgrey;
}

h3{
	font-size:calc-em(16,10);
	font-weight:bold;
	padding:calc-em(10,16);
	color:$color-lightgrey;
}

a{
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
	color:$color-darkgrey;
}

p{
	margin:calc-em(10,10);
}

pre{
	font-size:calc-em(12,16);
	background:$color-darkgrey;
	color:$color-lightestgrey;
	width:90%;
	line-height:calc-em(24,16);
	height:auto;
	max-height:400px;
	margin:calc-em(20,16) auto;
	overflow:scroll;
	font-family:Helvetica, Arial, sans-serif
}

.comment{ color: $color-green;}

#container{
	position:relative;
	overflow:hidden;
	-webkit-perspective: 2000px;
	perspective: 2000px;
	background:$color-darkgrey;
}

#wrapper{
	position:relative;
	height:100%;
	width:100%;
	float:right;
	@include transition(0.25s);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	background:#FFF;

	&:after{
		position:absolute;
		top:0;
		right:0;
		width:0;
		height:0;
		background:rgba(0,0,0,0.4);
		content:'';
		opacity:0;
		@include opacity-transition(0.25s);
	}
}

#slide-menu{
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	width:200px;
	height:100%;
	@include transition(0.25s);
	@include translate3d(-100%,0,0);

	&.basic-slider{
		background:$color-darkgreen;

		.nav-bar{
			background:$color-darkgreen;
		}
	}

	&.push-slider{
		background:$color-darkred;

		.nav-bar{
			background:$color-darkred;
		}
	}

	&.scale-slider{
		background:$color-darkblue;

		.nav-bar{
			background:$color-darkblue;
		}
	}

	&.rotate-slider{
		background:$color-darkorange;

		.nav-bar{
			background:$color-darkorange;
		}
	}

	h1,h2{
		color:$color-lightestgrey
	}

	a{
		display:block;
		padding:calc-em(10,10);
		color:$color-lightestgrey;
		@include transition(0.25s);

		&:hover{
			background:rgba(0,0,0,0.5);
		}
	}

	ul{
		width:100%;
		float:left;
		text-align:center;
		font-size:calc-em(14,10);
	}

	button{
		display:inline;
		margin:calc-em(10,10) calc-em(5,10);
		border:calc-em(1,10) solid $color-lightestgrey;
		padding:calc-em(5,10);
		color:$color-lightestgrey;
		background:transparent;
		outline: 0;
		cursor:pointer;

		&:after{
			content:'MENU';
		}
	}

	.nav-bar{
		width:60px;
		height:100%;
		position:absolute;
		top:0;
		right:-60px;

		h1{
			position:absolute;
			top:0;
			right:0;
			text-align: center;
		    height:60px;
		    width:400px;
		    overflow:hidden;
		    @include rotate(-90deg);
		    @include transform-origin(100%, 100%, 0);
		}
	}
}

.menu-open{
	#wrapper{
		&.basic-slider{
			@include translate3d(0,0,0);
		}
		
		&.push-slider{
			@include translate3d(260px,0,0);
		}

		&.scale-slider{
			@include translate3d(100px,0,-800px);
		}

		&.rotate-slider{
			-webkit-transform: translate3d(100px, 0, -200px) rotateY(-35deg);
			transform: translate3d(100px, 0, -200px) rotateY(-35deg);
		}
	}

	#wrapper::after{
		width:100%;
		height:100%;
		opacity: 1;
	}

	#slide-menu{
		@include translate3d(0,0,0);

		button::after{
			content:'CLOSE';
		}
	}
}

.content{
	overflow-y:scroll;
	height:100%;
}

.inner-content{
	position:relative;
	@include box-sizing;
	font-size:calc-em(16,10);
	line-height:calc-em(20,16);
	width:100%;
}

article{
	margin:0 auto;
	padding:calc-em(20,16) calc-em(60,16);
	max-width:960px;
}

footer{
	font-size:calc-em(10,16);
	background:$color-darkgrey;
	color:$color-lightestgrey;
	text-align:center;
	@include box-sizing;
	padding:calc-em(20,10);

	a{
		color:$color-lightestgrey;
	}
}