/* line 3, ../sass/basic.scss */
*, *:after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/basic.scss */
html, body, #container {
  height: 100%;
}

/* line 11, ../sass/basic.scss */
#container {
  position: relative;
  overflow: hidden;
}

/* line 16, ../sass/basic.scss */
#wrapper {
  position: relative;
  height: 100%;
  width: 96%;
  float: right;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 23, ../sass/basic.scss */
#wrapper:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  content: '';
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.25s;
  -moz-transition: opacity ease-in-out 0.25s;
  -o-transition: opacity ease-in-out 0.25s;
  transition: opacity ease-in-out 0.25s;
}

/* line 36, ../sass/basic.scss */
#slide-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 200px;
  height: 100%;
  background: #FFF;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 47, ../sass/basic.scss */
#slide-menu button::after {
  content: 'MENU';
}
/* line 51, ../sass/basic.scss */
#slide-menu .nav-bar {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -60px;
  background: #FFF;
}

/* line 62, ../sass/basic.scss */
.menu-open #wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 67, ../sass/basic.scss */
.menu-open #wrapper::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}
/* line 73, ../sass/basic.scss */
.menu-open #slide-menu {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 77, ../sass/basic.scss */
.menu-open #slide-menu button::after {
  content: 'CLOSE';
}

/* line 83, ../sass/basic.scss */
.content {
  overflow-y: scroll;
  height: 100%;
}

/* line 88, ../sass/basic.scss */
.inner-content {
  position: relative;
  width: 100%;
}
