/* line 17, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.scss */
*, *:after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/screen.scss */
html, body {
  background: #494949;
}

/* line 13, ../sass/screen.scss */
html, body, #container {
  height: 100%;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  color: #494949;
}

/* line 20, ../sass/screen.scss */
header {
  background: #8e8e8e;
  color: #f1f1f2;
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
}
/* line 27, ../sass/screen.scss */
header a {
  color: #f1f1f2;
}

/* line 30, ../sass/screen.scss */
h1 {
  font-size: 3.2em;
  line-height: 1em;
  padding: 0.3125em;
  font-weight: bold;
  margin: 0;
  list-style: none;
  color: #8e8e8e;
}

/* line 40, ../sass/screen.scss */
h2 {
  font-size: 2.4em;
  font-weight: bold;
  margin: 0;
  padding: 0.41667em;
  color: #8e8e8e;
}

/* line 48, ../sass/screen.scss */
h3 {
  font-size: 1.6em;
  font-weight: bold;
  padding: 0.625em;
  color: #8e8e8e;
}

/* line 55, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  color: #494949;
}

/* line 62, ../sass/screen.scss */
p {
  margin: 1em;
}

/* line 66, ../sass/screen.scss */
pre {
  font-size: 0.75em;
  background: #494949;
  color: #f1f1f2;
  width: 90%;
  line-height: 1.5em;
  height: auto;
  max-height: 400px;
  margin: 1.25em auto;
  overflow: scroll;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 79, ../sass/screen.scss */
.comment {
  color: #00cf36;
}

/* line 81, ../sass/screen.scss */
#container {
  position: relative;
  overflow: hidden;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  background: #494949;
}

/* line 89, ../sass/screen.scss */
#wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  float: right;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #FFF;
}
/* line 99, ../sass/screen.scss */
#wrapper:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  content: '';
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.25s;
  -moz-transition: opacity ease-in-out 0.25s;
  -o-transition: opacity ease-in-out 0.25s;
  transition: opacity ease-in-out 0.25s;
}

/* line 112, ../sass/screen.scss */
#slide-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 200px;
  height: 100%;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 122, ../sass/screen.scss */
#slide-menu.basic-slider {
  background: #00a22a;
}
/* line 125, ../sass/screen.scss */
#slide-menu.basic-slider .nav-bar {
  background: #00a22a;
}
/* line 130, ../sass/screen.scss */
#slide-menu.push-slider {
  background: #c40000;
}
/* line 133, ../sass/screen.scss */
#slide-menu.push-slider .nav-bar {
  background: #c40000;
}
/* line 138, ../sass/screen.scss */
#slide-menu.scale-slider {
  background: #000da1;
}
/* line 141, ../sass/screen.scss */
#slide-menu.scale-slider .nav-bar {
  background: #000da1;
}
/* line 146, ../sass/screen.scss */
#slide-menu.rotate-slider {
  background: #d2531f;
}
/* line 149, ../sass/screen.scss */
#slide-menu.rotate-slider .nav-bar {
  background: #d2531f;
}
/* line 154, ../sass/screen.scss */
#slide-menu h1, #slide-menu h2 {
  color: #f1f1f2;
}
/* line 158, ../sass/screen.scss */
#slide-menu a {
  display: block;
  padding: 1em;
  color: #f1f1f2;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
/* line 164, ../sass/screen.scss */
#slide-menu a:hover {
  background: rgba(0, 0, 0, 0.5);
}
/* line 169, ../sass/screen.scss */
#slide-menu ul {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 1.4em;
}
/* line 176, ../sass/screen.scss */
#slide-menu button {
  display: inline;
  margin: 1em 0.5em;
  border: 0.1em solid #f1f1f2;
  padding: 0.5em;
  color: #f1f1f2;
  background: transparent;
  outline: 0;
  cursor: pointer;
}
/* line 186, ../sass/screen.scss */
#slide-menu button:after {
  content: 'MENU';
}
/* line 191, ../sass/screen.scss */
#slide-menu .nav-bar {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -60px;
}
/* line 198, ../sass/screen.scss */
#slide-menu .nav-bar h1 {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  height: 60px;
  width: 400px;
  overflow: hidden;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 100% 100% 0;
  -moz-transform-origin: 100% 100% 0;
  -ms-transform-origin: 100% 100% 0;
  -o-transform-origin: 100% 100% 0;
  transform-origin: 100% 100% 0;
}

/* line 214, ../sass/screen.scss */
.menu-open #wrapper.basic-slider {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 218, ../sass/screen.scss */
.menu-open #wrapper.push-slider {
  -webkit-transform: translate3d(260px, 0, 0);
  -moz-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}
/* line 222, ../sass/screen.scss */
.menu-open #wrapper.scale-slider {
  -webkit-transform: translate3d(100px, 0, -800px);
  -moz-transform: translate3d(100px, 0, -800px);
  -o-transform: translate3d(100px, 0, -800px);
  transform: translate3d(100px, 0, -800px);
}
/* line 226, ../sass/screen.scss */
.menu-open #wrapper.rotate-slider {
  -webkit-transform: translate3d(100px, 0, -200px) rotateY(-35deg);
  transform: translate3d(100px, 0, -200px) rotateY(-35deg);
}
/* line 232, ../sass/screen.scss */
.menu-open #wrapper::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}
/* line 239, ../sass/screen.scss */
.menu-open #slide-menu.basic-slider {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 244, ../sass/screen.scss */
.menu-open #slide-menu.push-slider {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 249, ../sass/screen.scss */
.menu-open #slide-menu.scale-slider {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 254, ../sass/screen.scss */
.menu-open #slide-menu.rotate-slider {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 259, ../sass/screen.scss */
.menu-open #slide-menu button::after {
  content: 'CLOSE';
}

/* line 265, ../sass/screen.scss */
.content {
  overflow-y: scroll;
  height: 100%;
}

/* line 270, ../sass/screen.scss */
.inner-content {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6em;
  line-height: 1.25em;
  width: 100%;
}

/* line 278, ../sass/screen.scss */
article {
  margin: 0 auto;
  padding: 1.25em 3.75em;
  max-width: 960px;
}

/* line 284, ../sass/screen.scss */
footer {
  font-size: 0.625em;
  background: #494949;
  color: #f1f1f2;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em;
}
/* line 292, ../sass/screen.scss */
footer a {
  color: #f1f1f2;
}
